# Ignore Python cache files
__pycache__/
*.pyc 
.pytest_cache/

# Ignore virtual environments
.env
.venv/
venv/
.agents/

*.log
.DS_Store

# pdf files 
problemStatement.pdf
docs/personal/

# sqlite db files 
data/*.sqlite

# Ignore all database files so we don't cause merge conflicts
*.sqlite
*.db    
*.sqlite3

skills-lock.json